@import '../../styles/variables';

.filter {
  border: 1px solid $grey200;
  background: $white;
  border-radius: 12px;
}
.reset {
  background: none;
  border: none;
  color: $grey500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    text-decoration: underline;
  }
}
.title {
  font-size: 20px;
  font-weight: 700;
}
.subtitle {
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}