$black: #232134;
$grey600: #7B7C88;
$grey500: #ACADB9;
$grey400: #F7F7F8;
$grey300: #D5D6DC;
$grey200: #EAEBED;
$grey100: #F5F5F6;
$white: #FFFFFF;
$blue600: #3B7CD3;
$blue500: #5E96FC;
$blue400: #92C1FF;
$blue300: #B7D6FF;
$blue200: #C9E0FF;
$blue100: #DEECFF;