.vacancy {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.star-btn {
  height: 24px;
  width: 24px;
  border: none;
  background: none;
  cursor: pointer;
}
.profession {
}
.firm {

}
.payment {

}
.type-work {

}
.town {

}